<div class="container mt-5">
    <div class="row row-cols-2">
        <div class="col">
            <%- include ('../partials/containerVoiture.ejs') %>
        </div>
        <div class="col">
            <%- include ('../partials/containerVoiture.ejs') %>
        </div>
        <div class="col">
            <%- include ('../partials/containerVoiture.ejs') %>
        </div>
        <div class="col">
            <%- include ('../partials/containerVoiture.ejs') %>
        </div>
        <div class="col">
            <%- include ('../partials/containerVoiture.ejs') %>
        </div>
        <div class="col">
            <%- include ('../partials/containerVoiture.ejs') %>
        </div>
    </div>
</div>