<style>
  .content {
    margin-top: 90px;
    display: flex;
  }

  .sidebar {
    width: 15%;
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    min-height: 100vh;
  }

  .sidebar h3 {
    margin-bottom: 20px;
  }

  .content-area {
    padding: 20px;
    flex-grow: 1;
  }

  .sidebar .nav-link {
    color: #fff;
    transition: color 0.3s;
    cursor: pointer;
  }

  .sidebar .nav-link:hover {
    color: #ffc107;
  }

  .image-box {
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-bottom: 20px;
  }

  .image-preview {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .image-preview img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .add-image-btn {
    margin-bottom: 10px;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
  }

  .custom-file-upload:hover {
    background-color: #0056b3;
  }
</style>

<body>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <%- include ('../partials/administrateurSidePanel.ejs') %>
          <div class="col-lg-8 content-area">
            <h1>Administrateur</h1>

            <div class="card">
              <div class="product-list-form">
                <h3 class="m-3">Informations de la voiture</h3>
                <div class="container">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="idProduit">Id :</label>
                        <input type="text" class="form-control" id="idProduit" placeholder="Id de la voiture" name="id"
                          disabled>
                      </div>
                      <div class="form-group">
                        <label for="marqueProduit">Marque :</label>
                        <input type="text" class="form-control" id="marqueProduit" placeholder="Marque de la voiture"
                          name="marque" disabled>
                      </div>
                      <div class="form-group">
                        <label for="modeleProduit">Modèle :</label>
                        <input type="text" class="form-control" id="modeleProduit" name="modele"
                          placeholder="Modèle de la voiture" disabled>
                      </div>
                      <div class="form-group">
                        <label for="voitureAnnee">Année :</label>
                        <input type="text" class="form-control" id="voitureAnnee" placeholder="Année de la voiture"
                          name="annee" disabled>
                      </div>
                      <div class="form-group">
                        <label for="voiturePrix">Prix :</label>
                        <input type="text" class="form-control" id="voiturePrix" placeholder="Prix de la voiture"
                          name="prix" disabled>
                      </div>
                      <div class="form-group">
                        <label for="productDescription">Description :</label>
                        <textarea class="form-control" id="productDescription" rows="3"
                          placeholder="Description de la voiture" style="height: 7rem; resize: none;"
                          disabled></textarea>
                      </div>

                    </div>
                    <div class="col-md-6">

                      <div class="image-box">
                        <div class="form-group">
                          <label for="typeCarosserie">Type de carrosserie :</label>
                          <input type="text" class="form-control" id="typeCarosserie" placeholder="Type de carrosserie"
                            disabled>
                        </div>

                        <div class="form-group">
                          <label for="typeGaz">Type de gaz :</label>
                          <input type="text" class="form-control" id="typeGaz" placeholder="Type de gaz" disabled>
                        </div>

                        <div class="form-group">
                          <label for="typeMoteur">Type de moteur :</label>
                          <input type="text" class="form-control" id="typeMoteur" placeholder="Type de moteur" disabled>
                        </div>

                        <div class="form-group">
                          <label for="nombreCylindre">Nombre de cylindre :</label>
                          <input type="text" class="form-control" id="nbrCylindre" placeholder="Type de moteur"
                            disabled>
                        </div>

                        <div class="form-group">
                          <label for="typeConduit">Type de conduit :</label>
                          <input type="text" class="form-control" id="typeConduit" placeholder="Type de conduit"
                            disabled>
                        </div>
                        <h3>Images</h3>
                        <div class="image-preview" id="imagePreview"></div>
                        <div class="form-group">
                          <label class="custom-file-upload">
                            <input type="file" class="form-control-file" id="productImage" accept="image/*" multiple
                              style="display: none;" onchange="AfficherImagesSelectionner(this)" disabled>
                            Ajouter une image
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">


                    <div class="col">
                      <button class="btn btn-primary" id="btn-effectuerAjout" style="display: none; width: auto;"
                        disabled>Ajouter</button>
                      <button class="btn btn-primary" id="btn-modifier" style="display: none; width: auto;"
                        onclick="RedirectModifier()">Modifier</button>
                    </div>

                    <div class="col">
                      <button class="btn btn-primary" id="btn-ajouter" style="display: block; width: auto;"
                        onclick="Ajouter()">
                        Ajouter une voiture</button>
                    </div>

                  </div>



                </div>
              </div>
            </div>
            <div class="card mt-2">
              <h3 class="m-3">Les voitures</h3>
              <div class="container">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Marque</th>
                      <th scope="col">Modèle</th>
                      <th scope="col">Prix ($)</th>
                      <th scope="col">Année</th>
                    </tr>
                  </thead>
                  <% for (let i=0; i < items.length; i++) { %>
                    <tr data-id="<%= items[i].id_voiture %>">
                      <td>
                        <%= items[i].marque %>
                      </td>
                      <td>
                        <%= items[i].modele %>
                      </td>
                      <td>
                        <%= items[i].prix %>
                      </td>
                      <td>
                        <%= items[i].annee %>
                      </td>
                      <td>
                        <button class="btn btn-warning modifier"><i class="bi bi-pencil-fill"></i>
                          Modifier</button>
                        <button class="btn btn-danger btn-supprimer"><i class="bi bi-trash3-fill"></i>
                          Supprimer</button>
                      </td>
                    </tr>
                    <% } %>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>


  <script>
    function RedirectModifier() {
      const id = document.getElementById("idProduit").value;
      const marque = document.getElementById("marqueProduit").value;
      const modele = document.getElementById("modeleProduit").value;
      const prix = document.getElementById("voiturePrix").value;
      const annee = document.getElementById("voitureAnnee").value;

      fetch('/updateProduct/' + id, {
        method: 'POST',
        body: JSON.stringify({ id: id, marque: marque, modele: modele, prix: prix, annee: annee })
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Erreur lors de la mise à jour du produit');
          }
          return response.json();
        })
        .then(data => {
          location.reload();
        })
        .catch(error => {
          console.error('Erreur lors de la mise à jour du produit:', error);
        });
    }

    function Ajouter() {
      document.getElementById('btn-ajouter').style.display = "none";
      document.getElementById("btn-modifier").style.display = "none";
      AfficherTousLesChamps();
      ReinitialiserTousLesChamps()
      document.getElementById('btn-effectuerAjout').style.display = "block";
    }

    function ReinitialiserTousLesChamps() {
      document.getElementById('marqueProduit').value = null;
      document.getElementById('modeleProduit').value = null;
      document.getElementById('voitureAnnee').value = null;
      document.getElementById('voiturePrix').value = null;
      document.getElementById('productDescription').value = null;
      document.getElementById('typeCarosserie').value = null;
      document.getElementById('typeGaz').value = null;
      document.getElementById('typeMoteur').value = null;
      document.getElementById('nbrCylindre').value = null;
      document.getElementById('typeConduit').value = null;
      document.getElementById('productImage').value = null;
    }

    function AfficherTousLesChamps() {
      document.getElementById('marqueProduit').disabled = false;
      document.getElementById('modeleProduit').disabled = false;
      document.getElementById('voitureAnnee').disabled = false;
      document.getElementById('voiturePrix').disabled = false;
      document.getElementById('productDescription').disabled = false;
      document.getElementById('typeCarosserie').disabled = false;
      document.getElementById('typeGaz').disabled = false;
      document.getElementById('typeMoteur').disabled = false;
      document.getElementById('nbrCylindre').disabled = false;
      document.getElementById('typeConduit').disabled = false;
      document.getElementById('productImage').disabled = false;
    }

    function AfficherSectionMain() {
      var sectionMain = document.querySelector('.sectionMain');
      var productForm = document.querySelector('.product-list-form');
      var gestionClients = document.querySelector('.gestion-clients');

      sectionMain.classList.add('active');
      productForm.classList.remove('active');
      gestionClients.classList.remove('active');
    }

    function AfficherSectionProduit() {
      var sectionMain = document.querySelector('.sectionMain');
      var productForm = document.querySelector('.product-list-form');
      var gestionClients = document.querySelector('.gestion-clients');

      sectionMain.classList.remove('active');
      productForm.classList.add('active');
      gestionClients.classList.remove('active');
    }

    function AfficherSectionGestionClients() {
      var sectionMain = document.querySelector('.sectionMain');
      var productForm = document.querySelector('.product-list-form');
      var gestionClients = document.querySelector('.gestion-clients');

      sectionMain.classList.remove('active');
      productForm.classList.remove('active');
      gestionClients.classList.add('active');


    }


    function updateProductInMySQL(marque, modele, prix, id, annee) {
      const formData = new FormData();
      formData.append('id', id);
      formData.append('marque', marque);
      formData.append('modele', modele);
      formData.append('prix', prix);
      formData.append('annee', annee);

      fetch('/updateProduct', {
        method: 'POST',
        body: formData
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Erreur lors de la mise à jour du produit');
          }
          return response.json();
        })
        .then(data => {
          location.reload()
        })
        .catch(error => {
          console.error('Erreur lors de la mise à jour du produit:', error);
        });
    }



    function ActivationBoutonAjouter() {
      var submitBtn = document.getElementById('btn-effectuerAjout');
      var marqueProduit = document.getElementById('marqueProduit').value;
      var modeleProduit = document.getElementById('modeleProduit').value;
      var voiturePrix = document.getElementById('voiturePrix').value;
      var productDescription = document.getElementById('productDescription').value;
      var productImage = document.getElementById('productImage').files;

      if (marqueProduit && modeleProduit && voiturePrix && productDescription && productImage.length === 4) {
        submitBtn.disabled = false;
      } else {
        submitBtn.disabled = true;
      }
    }


    //Source: Aidé par chatgpt
    function AfficherImagesSelectionner(input) {
      var preview = document.getElementById('imagePreview');
      var files = input.files;

      preview.innerHTML = '';

      for (var i = 0; i < files.length; i++) {
        var file = files[i];
        var reader = new FileReader();

        reader.onload = function (e) {
          var img = document.createElement('img');
          img.src = e.target.result;
          img.classList.add('mr-2', 'mb-2');
          preview.appendChild(img);

          ActivationBoutonAjouter();
        }

        reader.readAsDataURL(file);
      }
    }


    function remplirFormulaire(id, marque, modele, prix, annee) {
      document.getElementById('idProduit').value = id;
      document.getElementById('marqueProduit').value = marque;
      document.getElementById('modeleProduit').value = modele;
      document.getElementById('voitureAnnee').value = annee;
      document.getElementById('voiturePrix').value = prix;
    }


    document.querySelectorAll('.modifier').forEach(function (button) {
      button.addEventListener('click', function (event) {
        event.preventDefault();
        var row = this.closest('tr');
        var id = row.getAttribute('data-id');
        var marque = row.cells[0].textContent.trim();
        var modele = row.cells[1].textContent.trim();
        var prix = row.cells[2].textContent.trim();
        var annee = row.cells[3].textContent.trim();

        remplirFormulaire(id, marque, modele, prix, annee);

        document.getElementById("btn-modifier").style.display = "block";
        document.getElementById("btn-ajouter").style.display = "block";
        document.getElementById("btn-effectuerAjout").style.display = "none";
        AfficherTousLesChamps();
      });
    });

    document.querySelectorAll('.btn-supprimer').forEach(function (button) {
      button.addEventListener('click', function (event) {
        event.preventDefault();
        var row = this.closest('tr');
        var id = row.getAttribute('data-id');
        supprimerVoiture(id);
      });
    });

    function supprimerVoiture(id) {
      fetch('/delete_voiture/' + id, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(res => {
          if (res.ok) {
            location.reload();
          }
        })
        .catch(err => {
          console.error("Erreur de suppression : " + err);
        });
    }
  </script>