<div class="container" style="cursor: pointer;">
    <a href="/detailee/<%= voiture.id_voiture %>" class="btn btn-link p-0" style="text-decoration: none;">
        <div class="card rounded-3 shadow-sm mb-5 bg-body rounded" style="height: 300px;">

            <div class="row d-flex justify-content-center text-center h-100">
                <img src="/images/<%= voiture.image %>" class="m-2" style="object-fit: cover;">
            </div>
            <div class="row text-center">

                <div class="text-center vertical-align mt-2">

                    <%= voiture.marque %>
                        <%= voiture.modele %>
                            <%= voiture.annee %>

                </div>
            </div>
            <h4>
                <%= voiture.prix.toLocaleString('fr-FR', { style: 'currency' , currency: 'CAD' }); %>
            </h4>

        </div>
    </a>
</div>