<div class="container mb-5">
    <div class="d-flex justify-content-center">
        <div style="width: 80rem; height: 35rem;">

            <% carDetails.forEach((car, index)=> { %>
                <img src="/images/<%= car.images[0] %>" class="card-img-top h-100" id="img<%= index %>"
                    style="object-fit: cover;">

        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center" style="width: 40rem;">

            <div class="row">

                <div class="col m-3">
                    <img src="/images/<%= car.images[0] %>" class="card-img-top" id="thumbImg<%= index %>"
                        onclick="changeImage('/images/<%= car.images[0] %>')">
                </div>
                <div class="col m-3">
                    <img src="/images/<%= car.images[1] %>" class="card-img-top" id="thumbImg<%= index + 1 %>"
                        onclick="changeImage('/images/<%= car.images[1] %>')">
                </div>
                <div class="col m-3">
                    <img src="/images/<%= car.images[2] %>" class="card-img-top" id="thumbImg<%= index + 2 %>"
                        onclick="changeImage('/images/<%= car.images[2] %>')">
                </div>
                <div class="col m-3">
                    <img src="/images/<%= car.images[3] %>" class="card-img-top" id="thumbImg<%= index + 3 %>"
                        onclick="changeImage('/images/<%= car.images[3] %>')">
                </div>

            </div>

        </div>
    </div>


</div>
<div class="container mt-5">
    <% if (carDetails && carInfo) { %>
        <% carInfo.forEach(carInfoItem=> { %>
            <div class="d-flex justify-content-center">
                <h1>Prix de base: <%= carInfoItem.prix.toLocaleString() %>$</h1>
            </div>
            <% }); %>

                <div class="d-flex justify-content-center">
                    <p style="text-align: center;">
                        <%= car.description %>
                    </p>
                </div>
                <% } else { %>
                    <div class="d-flex justify-content-center">
                        <p>Aucune information disponible</p>
                    </div>
                    <% } %>
                        <% }); %>

</div>




<%- include ('../partials/detailInformations.ejs') %>

    <script>
        function changeImage(imageUrl) {
            document.getElementById('img0').src = imageUrl;
        }
    </script>