<style>
    .boiteInformation {
        height: 75vh;
        width: 60vh;
    }
    .imgIcons {
        width: 30px;
        height: 30px;
        margin-right: 5%;
    }
</style>
<div class="content">
    <div class="d-flex align-items-center justify-content-center mt-5">
        <div class="container">
            <div class="jumbotron p-5">
                <div class="mb-5">
                    <% items.forEach(car => { %>
                    <div class="row">
                        <div class="col">
                            <img class="imgIcons" src="../images/car-silhouette.svg" alt="" > <%= car.corps %>  
                        </div>
                        <div class="col">
                            <img class="imgIcons" src="../images/odometer.svg" alt=""> <%= car.moteur %>  
                        </div>
                      </div>
                    <div class="row">
                        <div class="col">
                            <img class="imgIcons" src="../images/fuel.svg" alt=""> <%= car.carburant %>  
                        </div>
                        <div class="col">
                            <img class="imgIcons" src="../images/calendar.svg" alt=""> <%= car.annee %>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img class="imgIcons" src="../images/transmission.svg" alt=""> <%= car.transmission %>  
                        </div>
                        <div class="col">
                            <img class="imgIcons" src="../images/steering-wheel.svg" alt=""> <%= car.pneus_bougent %>  
                        </div>
                    </div>
                </div>
                <p>
                    <%= car.description %>  
                </p>
            </div>
         
        </div>

        <div class="col-md-4">
            <div class="bg-light rounded d-flex flex-column">
                <div class="p-2 ml-3">
                    <h4><b>Résumé de commande</b></h4>
                </div>
                <div class="p-2 d-flex">
                    <div class="col-8">Voiture:</div>
                    <div class="ml-auto">XXXXXX</div>
                </div>
                <div class="border-top px-4 mx-3"></div>
                <div class="p-2 d-flex">
                    <div class="col-8">Taux d'interet:</div>
                    <div class="ml-auto"><%= car.tauxInteret %>%</div>
                </div>
                <div class="border-top px-4 mx-3">
                </div>
                <div class="p-2 d-flex">
                    <div class="col-8">Prix sans taxes:</div>
                    <div class="ml-auto"><b><%= car.prix_sans_taxes %>$</b></div>
                </div>

                <button class="btn btn-primary">Payer</button>
            </div>
        </div>   
    </div>
    <% }) %>
</div>