<a href="/detailee/<%= voiture.id_voiture %>" class="card card-carousel" style="width: 18rem; text-decoration: none;">
    <img src="/images/<%= voiture.image %>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">
            <%= voiture.marque %>
                <%= voiture.modele %>
                    <%= voiture.annee %>
        </h5>
        <p>
            <%= infosVoiture.description %>
        </p>
    </div>
</a>